<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>Post</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/main.css')}}">
</head>

<body>
	<div class="flash">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class="flash">
				<h2 class="title"> Уведомления: </h2>
					{% for message in messages %}
						<li class="flash">{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	</div>

	<div class="header">
		<a href="{{url_for('home.home_page')}}" class="logo">ProstoSchool</a>
		<div class="header-right">
			<a href="{{url_for('home.home_page')}}">Главная</a>
			{% if current_user.is_authenticated %}
				{% if 'write' in current_user.permissions.split('+') %}
					<a class="active" href="{{url_for('post.create_post_page')}}">Опубликовать</a>
				{% endif %}
				<a href="{{url_for('profile.profile_page')}}">Профиль</a>
				<a href="{{url_for('auth.logout_page')}}">Выйти</a>
			{% else %}
				<a href="{{url_for('auth.login_page')}}">Авторизация</a>
				<a href="{{url_for('auth.signup_page')}}">Регистрация</a>
			{% endif %}
		</div>
	</div>

	<div class="post_form">
		<form class="form" action="" method="post">
			{{ form.csrf_token }}
			{{ form.title(placeholder="Название публикации") }}<br>
			{{ form.topic(placeholder="Тема публикации") }}<br>
			{{ form.body(cols="38", rows="50", placeholder="Содержание") }}<br>
			<b class="private"> Закрытая публикация </b> {{ form.private() }}<br>
			{{ form.submit(value="Опубликовать") }}<br>
		</form>
	</div>
</body>
</html>
