<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Sign up</title>
</head>

{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul class="flash">
		<h2> Flash notifications: </h2>
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endwith %}

<body>
	<form class="form" action="" method="post">
		{{ form.csrf_token }}
		<h1>Регистрация</h1><br>
		{{ form.surname(placeholder="Фамилия") }}<br>
		{{ form.name(placeholder="Имя отчество") }}<br>
		{{ form.email(placeholder="Почта") }}<br>
		{{ form.password(placeholder="Пароль") }}<br>
		{{ form.confirm_password(placeholder="Подтвердите пароль") }}<br>
		{{ form.submit(value="Зарегистрироваться") }}<br>
		<a href="{{url_for('auth.login_page')}}" class="unreg">Уже имеете аккаунт?</a>
	</form>
</body>
</html>
